@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  background-color: #151515;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
    justify-content: center;
  
}

a {
    text-decoration: none;
     
  
}


.navbar {
  background-image: linear-gradient(to right,rgb(4, 34, 37),black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 1.5rem;
 
}
.hamburger {
    display: none;

}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
background-image: linear-gradient(to right,orange,white);


}
.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.nav-item {
  display: flex;
  padding:0 20px;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        border: 8px solid #151515;
        background-color: #151515;
        border-bottom-left-radius: 30%;
        padding: 2%;
        position: fixed;
      top: 0;
      right: 0;
     
    }

}

.nav-link:hover{
    color: #482ff7;
} 
.picture {
  border: #151515 solid 2px;
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin-top: 2rem;
  box-shadow: 0 1em 0.5em rgb(4 34 37);
  top: 9em;
}
.main{
  color: white;
  display: flex;
  width: 75vw;
  top: 5em;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 0 auto;
  margin-top: 15rem;
}
.paragraph{
  font-size: 18px;
  margin-left: 10rem;
}

p{
   margin-top: 2rem;
}
.emoji {
  display: flex;
}
.line {
border-bottom:2px solid ;
margin-top: 34% !important; 
margin:auto;
width: 70%;
border-image: linear-gradient(to right,rgb(219,85,8), rgb(77, 24, 77)) 1;;

}
h2{
  text-align: center;
  color: white;
  font-weight: 100;
  margin-top: 10%;
}
h4 {
  color: white;
  font-weight: 100;
font-size: larger;
text-align: center;
margin-top: 1%;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 5%;
  margin-left: 5%;
}
h3 {
  color: white;
  font-size: x-large;
  background-image: linear-gradient(to right,rgb(219, 85, 8),purple);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;
  font-weight: 100;
  margin-top: 3%;

  
}
footer span{
  background-image: linear-gradient(to right,rgb(219, 85, 8),purple);
  -webkit-background-clip: text;
-webkit-text-fill-color: transparent;

}
footer p {
font-size: 15px;
color: white;
width: 80%;
word-break: break-all;
margin-right: 5%;
font-weight: 100;


}


@media only screen and (max-width: 768px) {
  .main{
    flex-direction: column;
  }
  .paragraph {
    margin-left: 0;
    margin-top: 5rem;
  }
  footer {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .column1, .column2 {
    flex: 50%;
  }
  .column3 {
    width: 30rem;
  }
}

@media only screen and (max-width: 576px) {
  .hamburger{
    position: absolute;
  }
  .main{
    flex-direction: column;
  }
  .paragraph {
    text-align: center;
    margin-left: 0;
    margin-top: 5rem;
  }
  .emoji {
    justify-content: center;
  }
  footer {
    flex-direction: column;
  }
  footer p {
    width: 95%;
  }
}